* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
    text-shadow: 2px 4px 2px rgb(227, 96, 170);
}

label {
    display: block;
}

form {
    box-shadow: 10px 20px 10px black;
    width: 300px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
    border-color: gainsboro;
    margin: auto;
}
input {
    width: 100%;
    margin-bottom: 13px;
    border-radius: 3px;
    padding: 5px;
    border-color: rgb(227, 133, 206);
}

input[type="button"]{
    color: white;
    background-color: rgb(225, 65, 164);
}